@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #e6ecf0;
}
.menu
{
    background-color: rgb(246, 169, 1);
    padding: 20px;
}
.menu li
{
    display: inline;
    margin-right: 20px;
}
.menu li a
{
    font-size: 13pt;
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.menu li a:hover
{
    text-decoration: underline;
}

.texto-resultado
{
    margin-left: 192px;
    margin-right: 192px;
    margin-bottom: 15px;
    text-align: justify;
    font-size: 13pt;
    font-family: 'Open Sans', sans-serif;
}
#textoPrincipal
{
    text-align: center;
}
h1
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
#entrevistas
{
    display: inline;
}
.videos
{
    text-align: center;
}
#resultado-img
{
    text-align: center;
}
fieldset
{
    margin-left: 20px;
}
#videoPrimeiro
{
    margin-right: 50px;
}
footer
{
    padding: 30px;
    margin-top: 20px;
    background-color: rgb(67, 84, 118);
}
.texto-footer
{
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 13pt;
    font-family: 'Open Sans', sans-serif;
}

footer > a
{
    font-weight: bold;
    color: black;
    font-size: 13pt;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    margin-right: 10px;
}
footer > a:hover
{
    text-decoration: underline;
}