
div#navegacao{
  text-align: center;
  margin-top: 2%;
}

a:link {
  font-size: 30px;
  text-decoration: none;
  background: linear-gradient(180deg, #E8B883 0%, #E98E8F 100%);
}

a:hover {
 color: white;
 font-size: 32px;
}

div#myChart{
  margin: auto;
}

div#myChart2{
  margin: auto;
}